<% if @user %>
  <h3 class="pull-right">Organization: <%= @tenant.name %></h3>
  <%= render 'projects/list' %>
<% else %>
  <div class="card mt-2 mb-2 bg-light position-relatiive">
  <div class="card-image">
    <%= image_tag 'pm.jpg', class: 'card-img-top' %>
  </div>
    <div class="card-body m-5">
      <h2>Welcome to My Project Management App</h2>
      <div class="lead">
        <p>My Project Management App is a simple project management tool that allows users to create projects and assign members to the projects.
        It is built with Ruby on Rails and Bootstrap.
        It is a multi-tenant application that allows users to sign up for a free account and create projects.
        Users can also upgrade to a premium account to create unlimited projects.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-5 col-lg-offset-3 card me-1">
        <h2>Free Plan</h2>
        <div class="price pull-right">
          Price: Free
        </div>
        <div class="features">
          <ul>
            <li>Unlimited file uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li>1 project</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path(plan: 'free'), class: 'btn btn-primary sign-up' %>
        </p>
      </div>      
      <div class="col-lg-5 card ms-1">
        <h2>Premium Plan</h2>
          <div class="price pull-right">
            Price: $10
          </div>
        <div class="features">
          <ul>
            <li>Unlimited file uploads</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited projects</li>
          </ul>
        </div>
        <p>
          <%= link_to 'Sign Up', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary sign-up' %>
        </p>
      </div>
    </div>  
  </div>

<% end %>

<code>
  <%# <%= @user.inspect %>
  <br/>

  <%#<%= @user.tenants.first.inspect %>
  <br/>

  <%#<%= @tenant.inspect %>
  <br/>

  <%#<%= @users.inspect %>
</code>
