<p style="color: green"><%= notice %></p>

<%= render @user_project %>

<div>
  <%= link_to "Edit this user project", edit_user_project_path(@user_project) %> |
  <%= link_to "Back to user projects", user_projects_path %>

  <%= button_to "Destroy this user project", @user_project, method: :delete %>
</div>
