<!DOCTYPE html>
<html>
  <head>
    <title>SaasProjectApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# Font Awesome %>
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Default" disabled
    href="/css/app-af6a05f42b013986b481566363f0186f.css?vsn=d" />
    <link rel="stylesheet" data-purpose="Layout StyleSheet" title="Web Awesome"
    href="/css/app-wa-df1bd4d47fc6bf066625b27b61ccafe7.css?vsn=d" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/sharp-solid.css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/sharp-regular.css" />
    <%= javascript_include_tag "https://js.stripe.com/v2/" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
